cat > .gitignore << 'EOF'
# IGNORAR UNITY DENTRO DE /warehouse

warehouse/[Ll]ibrary/
warehouse/[Tt]emp/
warehouse/[Oo]bj/
warehouse/[Bb]uild/
warehouse/[Bb]uilds/
warehouse/[Ll]ogs/
warehouse/[Uu]ser[Ss]ettings/
warehouse/[Mm]emoryCaptures/
warehouse/[Pp]ackageCache/
warehouse/[Pp]rojectSettings/Boot.config

# IGNORAR METADATOS DE UNITY Y ARCHIVOS GENERADOS
*.csproj
*.sln
*.unityproj
*.pidb
*.user
*.userprefs
*.tmp
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# SISTEMA
.DS_Store

# PYTHON
__pycache__/
*.pyc
EOF
